<div class="displayBox">
    <h3>Equipment</h3>
    <ol>
        <li *ngFor="let item of equipmentItems">
            <button [class.active] = "!noAdd && item.mass <= maximumAllowedMass - cargoMass" [disabled] = "noAdd" (click)="noAdd = addItem(item)" 
            [disabled] = "item.mass > maximumAllowedMass - cargoMass">
            Add to Cargo Hold</button>
            {{item.name}}, {{item.mass}} kg
        </li>
    </ol>
</div>

<hr>

<div class = "displayBox">
    <h3>Cargo Hold: {{cargoHold.length}}/{{maxItems}} Spots Filled</h3>
    <ol>
        <li *ngFor="let equipment of cargoHold">{{equipment.name}}</li>
    </ol>
    <p>Mass in Hold: {{cargoMass}} kg</p>
    <p [class.nearMaxMass] ="maximumAllowedMass-cargoMass < 200">Mass Budget Remaining: {{maximumAllowedMass-cargoMass}} kg</p>
    <button [class.empty] (click) = "emptyHold()">Empty Hold</button>
</div>

